.App {
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
}

.form-wrapper {
  margin-top: 10px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: 1px solid #ccc;
}

.input.error {
  border: 1px solid red;
}

.label {
  font-size: 18px;
font-weight: bold;
}

.button {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-left: 30px;
  background-color: transparent;
  border: 2px solid #4f95da;
  border-radius: 5px;
  color: #4f95da;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.button:hover {
  color: #fff;
  box-shadow: 0 0 40px 40px #4f95da inset;
}

.error-message {
  position: absolute;
  color: red;
  font-size: 12px;
  margin: 0;
}